{% extends 'pages/layout.html' %}
{% block body %}
  <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                       <div class="col-lg-12">
                           <ol class="breadcrumb " style="margin-top: 30px;font-size: 15px;background-color: none;">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Product Management</li>
                            <li class="active">View / Update / Delete Products</li>
                        </ol>
                        <hr>
                       </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 center-block">
                              {% include 'includes/_messages.html' %}
                            <div class="Update-product-panel panel panel-default">
                               
                            
                           
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                  

                    <div class="row">
                        <div class="col-sm-12">
                             <div class="panel panel-default">
                            <div class="panel-heading">
                                Product Table
                            </div>
                            <div class="panel-body">



                                <div class="table-responsive">
                                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="User Type: activate to sort column descending" style="width: 104px;">Product id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 309px;">Product Category</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Mobile No: activate to sort column ascending" style="width: 250px;">Product Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 102px;">Product Stock</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Active: activate to sort column ascending" style="width: 103px;">Product Price(₹)</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 305px;">Product Description</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 109px;">Related Crop</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 109px;">Brand</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 103px;">Update</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 103px;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for product_details in product_tb_details %}        
                                            <tr class="gradeA odd" role="row">
                                                    <td class="sorting_1">{{ product_details.product_id }}</td>
                                                    <td>{{ product_details.product_category.product_category_name }}</td>
                                                    <td> {{ product_details.product_name }}</td>
                                                    <td> {{ product_details.product_stock }}</td>
                                                    <td> {{ product_details.product_price }}</td>
                                                    <td ><span style="max-height: 10px;overflow-y: scroll;scroll-behavior: smooth;" class=" crop-description-scroll">{{ product_details.product_description }}</span></td>
                                                    <td> {{ product_details.crop_related }}</td>
                                                    <td> {{ product_details.brand.brand_name }}</td>
                                                    <td class="center">
                                                        <a href="#" class="update_product btn btn-success " role="button" id="{{ product_details.product_id }}"> Update </a></td>
                                                    <td class="center"><a  class="delete_product btn btn-danger " role="button" id="{{ product_details.product_id }}"> Delete </a></td>
                                                </tr>
                                                {% endfor %}
                                                


                                               
                                            </tbody>
                                        </table></div></div>
                                    </div>
                                </div>





                            </div>
                        </div>
                        </div>
                    </div>

            
                   


                </div>
                <!-- /.container-fluid -->
            </div>

        <script>


$(document).ready(function(){
  $('.nav li:nth-child(3)').addClass("active");
  $('#dataTables-example').DataTable();

    $('.upload_btn').click(function(){
    	console.log('data-add');
        $('.file-upload-input').click();
          $('.nav li:nth-child(3)').addClass("active");
    });

$('.update_product').click(function(event)
{
	console.log($(this).attr('id'));
	$.ajax({
		url:'/admin/product-mng/view-update-delete products',
		data:
		{
		 'product_id':$(this).attr('id')
		},
		success:function(response)
		{
			 $(".Update-product-panel").html($(response).find(".Update-product-panel"));
		}
	});
});

$('.delete_product').click(function(event)
{
    console.log($(this).attr('id'));
    $.ajax({
        url:'/admin/product-mng/view-update-delete products',
        data:
        {
         'delete_product_id':$(this).attr('id')
        },
        success:function(response)
        {
            location.reload();
           console.log("data is deleted");

        }
    });
});
   
});
function click_btn(){
    	console.log('data-add');
        $('.file-upload-input').click();
        
    };
 function readURL(input)
    {
               if (input.files && input.files[0]) {

            var reader = new FileReader();
              console.log('data -add');
          reader.onload = function(e) {
            $('.upload_btn').hide();
             $('.image-title-no').hide();
            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-image').show();
            $('.remove-image').show();
           
            $('.image-title').html(input.files[0].name);
          };

          reader.readAsDataURL(input.files[0]);
           console.log("successfully file getted");

        } else {
          removeUpload();
        }
    }

    function removeUpload()
    {
    	  console.log('data -remove');
    	   // $('.file-upload-input').replaceWith($('.file-upload-input').val('').clone(true));
                  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
         $('.file-upload-input').val('');
         //$('.file-upload-input').val('');

        $('.file-upload-image').hide();
        $('.remove-image').hide();
        $('.upload_btn').show();
         $('.image-title-no').show();
    } 
    </script>
        


{% endblock %}