<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Agrostar - Admin </title>
          <link rel="stylesheet" href="{{ url_for('static',filename='css_new/bootstrap.min.css') }}?q=1280549780" >
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/bootstrap-select.min.css') }}?q=1280549780" >
        
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/metisMenu.min.css') }}?q=1280549780" >

        <!-- Timeline CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/timeline.css') }}?q=1280549780" >

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/startmin.css') }}?q=1280549780" >

        <!-- Morris Charts CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/morris.css') }}?q=1280549780" >

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/font-awesome.min.css') }}?q=1280549780"  >
        <link rel="stylesheet" href="{{ url_for('static',filename='css_new/admin_css.css') }}?q=1280549780"  >
         <script  src="{{ url_for('static',filename='js_new/jquery.min.js') }}"></script>
      
   
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}

         <nav class="navbar navbar-default" role="navigation"> <div class="navbar-header"> <a class="navbar-brand" href="#"><img src="/static/img/Agrostar.png" class="img-responsive" style="height: 30px;width: 100px;"></a> </div>
          </nav>
          
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <div class="login-panel panel panel-default">
                         {% include 'includes/_messages.html' %}
                        <div class="panel-heading">
                            <h3 class="panel-title">Forgot Password</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" action="">
                                    <p>Please enter valid e-mail to send password reset request.</p>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus required="">
                                    </div>
                                   
                                    
                                   
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" id="Login">Request Password Reset</button>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <script src="{{ url_for('static',filename='js_new/bootstrap.min.js') }}"></script>
          <script src="{{ url_for('static',filename='js_new/bootstrap-select.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ url_for('static',filename='js_new/metisMenu.min.js') }}"></script>

       

        <!-- Custom Theme JavaScript -->
        <script src="{{ url_for('static',filename='js_new/startmin.js') }}"></script>
         <script src="{{ url_for('static',filename='js_new/canvasjs.min.js') }}"></script>
   {% endblock %}
    </body>
</html>

