{% extends 'layout.html' %}
{% block body %}
<div class="container">
 <section class="product_show_area" style="padding-top: 100px;">
               {% include 'includes/_messages.html' %}
              <div class="row border border-success product_sub_area">

                  {% for product in products %}
                   <div class="col-sm-6 col-xs-12 col-md-3 clearfix px-0"> 
                     <div class="linear-background  all-border" >
          
              </div>
                      <div class="thumbnail all-border thumbnail-product "> 
                        <ul class="position-absolute ">
                          <li><span class="sm-icon-wishlist glyphicon glyphicon-heart-empty " id="{{ product.product_id }}" onclick=""></span>
                         </li>
                           <li><span class="sm-icon-cart glyphicon glyphicon-shopping-cart " id="{{ product.product_id }}"></span></li>
                            <li><span class="sm-icon-compare glyphicon glyphicon-random glyphicon-random-empty " id="{{ product.product_id }}"></span></li>
                        </ul>
                        <a href="/products/{{ product.product_id }}"><img src="/static/img/SERVER_FILES/products/{{ product.product_img }}" alt="Generic placeholder thumbnail" class="img-responsive p_tmb" name="{{ product.product_id }}"> </a></div>
                        <div class="caption">
                          <h3 class="linear-product-lb" style="width: 210px;"></h3>
                         <a href="" class="product_title" style="text-decoration: none;"><h3 class="text-center product_lb" name="{{ product.product_id }}">{{ product.product_name }}</h3></a>
                         <h3 class="linear-product-des" style="width: 210px;"></h3>
                         <div class="price text-center product_des" name="product_price1"><span>₹</span>{{ product.product_price }}</div>
                         
                      </div>
                    </div>
                    {% endfor %}
                  </div>

            </section>
        </div>
{% endblock %}