{% extends 'layout.html' %}
  
{% block body %}

<div class="container">
  <div class="row SignUp"> 
  <div class="col-md-3"></div>
  <div class="col-md-6  center-block" style="box-shadow: none;">
     {% include 'includes/_messages.html' %}
    <div class="panel panel-success center-block" style="border-radius: 0.5px">

	     <div class="panel-heading bg-white"> 
	      <h3 class=" text-center">Sign In</h3> 
	     </div>

    <div class="panel-body"> 
       {% from "includes/_formhelpers.html" import render_field %}
      <form  method="post" action="">
     
            <div class="form-group" >
            <!--<label for="Mobile-No" class="col-form-label ">Mobile No</label>
            <input type="tel" class="form-control all-border" id="Mobile-No" placeholder="7984854901" name="mobile_no">-->
             {{ render_field(form.user_mobile_no , class_='form-control all-border') }}
          </div>


           <div class="form-group">
            <!--<label for="User-password" class="col-form-label ">Password</label>
            <input type="password" class="form-control all-border" id="User-password" placeholder="●●●●●●●●" name="password">-->
              {{ render_field(form.user_password , class_='form-control all-border') }}
          </div>

         <a href="/forgot_password/Enter-Mobileno" class="pull-right">Forgot Password?</a>

           <button type="submit" class="btn btn-success btn-block" id="Sign_in">Sign In</button>
        </form>

    </div> 
     <div class="panel-footer panel-success">
        <div class=" text-center py-0 ">Not Registered?
      <a href="/signup">Create Account</a>
    </div>

    </div>
   </div> 
   <div class="col-md-3"></div>
</div>

</div>
</div>

<script>
   $(document).ready(function()
   {
    $('.agrostar-navbar-search,.regsign,.agrostar-brand span,.largenav,.cart').hide();
    $('.agrostar-brand img').css({"margin-bottom":"10px"});
   
   }) 
  </script>
{% endblock %}